<!DOCTYPE html>
<html>
<head>
    <title>ASE Booking </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
    const resources = [
        {% for resource in resources %}
            "{{ resource }}",
        {% endfor %}
    ];
    
      function updateTableHeader(selectedDate) {
        const tableHeader = document.querySelector('.date-header');
        tableHeader.textContent = `Bookings for ${selectedDate}`;
    }
</script>
</head>
<body>
    <h1>ASE Booking Sheet</h1>
    <form method="POST">
        <label for="resource">Select Resource:</label>
        <select id="resource" name="resource">
            {% for index in range(resources|length) %}
                <option value="{{ index }}">{{ resources[index] }}</option>
            {% endfor %}
        </select><br>
        <label>Select Date:</label>
        <input type="date" name="booking_date" id = "book" value="{{ booking_date|default(today) }}" ><br>
	<label >Select Time Slot:</label>
	<div>
            <input type="checkbox" name="time_slots" value="08:00"> 08:00 - 10:00<br>
	    <input type="checkbox" name="time_slots" value="10:00"> 10:00 - 12:00<br>
	    <input type="checkbox" name="time_slots" value="12:00"> 12:00 - 14:00<br>
	    <input type="checkbox" name="time_slots" value="14:00"> 14:00 - 16:00<br>
	    <input type="checkbox" name="time_slots" value="16:00"> 16:00 - 18:00<br>
	    <input type="checkbox" name="time_slots" value="18:00"> 18:00 - 20:00<br>
	</div>
	<label for="booked_by">Booked By:</label>
        <input type="text" id="booked_by" name="booked_by"><br>
        <input type="submit" value="Book Slot">
    </form>
    <h2 class="date-header"> Todays booking </h2>
    <table class="booking-table">
        <tr>
            <th>Time Slot</th>
            {% for resource in resources %}
                <th>{{ resource }}</th>
            {% endfor %}
        </tr>
        {% for hour in range(8, 20, 2) %}
            <tr>
                <td>{{ "{:02d}:00 - {:02d}:00".format(hour, hour + 2) }}</td>
                {% for resource_id in range(resources|length) %}
                    <td {% if is_booked(hour, resource_id,booked_slots) %}class="booked"{% endif %}>
                        {% for slot in booked_slots %}
                            {% if slot.time_slot == "{:02d}:00".format(hour) and slot.resource_id == resource_id %}
                                {{ slot.booked_by }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<script>
 const bookingDateInput = document.getElementById('book');
    const bookingTable = document.querySelector('.booking-table');

    bookingDateInput.addEventListener('input', async function () {
	    const selectedDate = bookingDateInput.value;

        // Fetch updated data from the server based on the selected date
        const response = await fetch(`/update-table?date=${selectedDate}`);
        const data = await response.json();
        updateTableHeader(selectedDate);
        bookingTable.innerHTML = ''; 
	// Update the table with the new data
        let tableHTML = `
        <tr>
            <th>Time Slot</th>
            ${resources.map(resource => `<th>${resource}</th>`).join('')}
        </tr>
    `;

        
        data.forEach(row => {
            const rowHtml = `
                <tr>
                    <td>${row.timeSlot}</td>
                    ${row.resources.map(bookedBy => `<td${bookedBy ? ' class="booked"' : ''}>${bookedBy || ''}</td>`).join('')}
                </tr>
            `;
            tableHTML += rowHtml;
        });
	

        bookingTable.innerHTML = tableHTML;
    });
</script>
</body>
</html>
